/Library
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Cinemachine.csproj
/com.unity.cinemachine.editor.csproj
/Unity.PackageManagerUI.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/UnityEditor.StandardEvents.csproj
/WOWFight.CSharp.csproj
/WOWFight.CSharp.Editor.csproj
/WOWFight.CSharp.Plugins.csproj
/WOWFight.csproj
/WOWFight.Plugins.csproj
/WOWFight.sln
/WOWFight.sln.DotSettings.user
/.idea/.idea.WOWFight/.idea/contentModel.xml
/.idea/.idea.WOWFight/.idea/encodings.xml
/.idea/.idea.WOWFight/.idea/indexLayout.xml
/.idea/.idea.WOWFight/.idea/modules.xml
/.idea/.idea.WOWFight/.idea/workspace.xml
/.idea/.idea.WOWFight/riderModule.iml
/.vs/WOWFight/v14/.suo
/Packages/manifest.json
/Temp
